@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  @apply bg-app-bg text-app-text antialiased dark:bg-app-darkBg dark:text-app-darkText;
}
